@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0:#A61C28;
    --cor1: #838C3A;
    --cor2:#403D19;
    --cor3:#F29C50;
    --cor4:#F2600C;
    --fonte-titulo: bebas neue, 'cursive';
    --fonte-poesia: 'Pacifico', cursive;
    --fonte-padrao: arial, helvetica, sans-serif;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--cor2);
    font-family: var(--fonte-titulo);
    color: white;
    text-align: center;
    font-size: 1.7em;
}

header > h1{
    padding-top: 30px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 30px;
    font-size: 0.7em;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    color: white;
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-poesia);
    font-size: 4vh;
}

section > p {
    padding-bottom: 2em;
}


section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.592);
    color: black;
    background-attachment: fixed;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.164);
}

footer{
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    text-align: center;
    color: white;
    padding: 10px;
}